<div ng-cloak>
    <div class="row">
        <div class="col-lg-4 col-md-3 hidden-sm">
            <div class="hpanel hgreen">
                <div class="panel-body">
                    <img alt="logo" class=""
                         data-ng-src="{{'data:' + company.backgroundContentType + ';base64,' + company.background}}"
                         style="height: 150px; max-width: 100%;" ng-if="company.background"/>
                    <h3><a href="">{{company.name}} - {{company.sapId}}</a></h3>
                    <!--<div class="text-muted font-bold m-b-xs">California, LA</div>-->
                    <!--<p>-->
                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices-->
                    <!--accumsan.-->
                    <!--</p>-->
                    <uib-progressbar value="65" type="success"
                                     class="progress-small full progress-striped active"></uib-progressbar>
                </div>
                <div class="border-right border-left">
                </div>
                <div class="panel-body">
                    <table class="table table-responsive hover">
                        <thead class="text-primary text-capitalize" style="font-weight: 600">
                            <tr>
                                <td>Order</td>
                                <td>Date</td>
                                <td>Actioned</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="po in capturedPos">
                                <td>{{ po.pickUpType }} pickup via {{ po.modeOfTransport }}</td>
                                <td>{{ po.captureDate }}</td>
                                <td>{{ po.state }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer contact-footer">
                    <div class="row">
                        <div class="col-md-4 border-right">
                            <div class="contact-stat"><span>Purchase Orders: </span> <strong>{{capturedPos.length}}</strong></div>
                        </div>
                        <div class="col-md-4 border-right">
                            <div class="contact-stat"><span>Processed: </span> <strong>{{posProcessed.length}}</strong></div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-stat"><span>Unprocessed: </span> <strong>{{ capturedPos.length - posProcessed.length }}</strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-9 col-sm-12">
            <div class="hpanel">
                <div class="hpanel">
                    <uib-tabset>
                        <uib-tab>
                            <uib-tab-heading>
                                Un-delivered&nbsp;
                                <i class="fa fa-refresh btn btn-default btn-xs" ng-click="reloadData()"></i>
                            </uib-tab-heading>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped hover" style="width: 100% !important;">
                                        <thead>
                                        <tr>
                                            <th>Purchase Order</th>
                                            <th>Sales Order</th>
                                            <th>Delivery No</th>
                                            <th>Shipment No</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="order in undeliveredOrders">
                                            <td>{{ order.BSTKD }}</td>
                                            <td>{{ order.VBELN }}</td>
                                            <td>{{ order.DBELN }}</td>
                                            <td>{{ order.TKNUM }}</td>
                                            <td>{{ order.PDSTK }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>
                                Delivered
                            </uib-tab-heading>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped hover" style="width: 100% !important;">
                                        <thead>
                                            <tr>
                                                <th>Purchase Order</th>
                                                <th>Sales Order</th>
                                                <th>Delivery No</th>
                                                <th>Shipment No</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="order in deliveredOrders">
                                                <td>{{ order.BSTKD }}</td>
                                                <td>{{ order.VBELN }}</td>
                                                <td>{{ order.DBELN }}</td>
                                                <td>{{ order.TKNUM }}</td>
                                                <td>{{ order.PDSTK }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>
</div>
