<div ng-cloak>
	<div class="row">
		<div class="col-md-4">
			<div class="hpanel">
				<div class="panel-body text-center h-180" style="padding: 5px;">
					<i class="icon-pi-cargo-trolley-1 fa-5x text-info"></i>

					<h1 class="m-xs">{{ pos.unprocessed.length + pos.processing.length}}</h1>

					<h3 class="font-extra-bold no-margins text-info">In Progress</h3>
					<small>Your captured PO`s waiting to be processed by our team</small>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="hpanel">
				<div class="panel-body text-center h-180" style="padding: 5px;">
					<i class="icon-pi-truck-3 fa-5x text-info"></i>

					<h1 class="m-xs">{{ (undeliveredOrders | unique: 'dbeln').length }}</h1>

					<h3 class="font-extra-bold no-margins text-info">In Transit</h3>
					<small>In the processes of being delivered by our team</small>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="hpanel">
				<div class="panel-body text-center h-180" style="padding: 5px;">
					<i class="icon-pi-hand-truck-4 fa-5x text-info"></i>

					<h1 class="m-xs">{{ (deliveredOrders | unique: 'dbeln').length }}</h1>

					<h3 class="font-extra-bold no-margins text-info">Done</h3>
					<small>Done and dusted deliveries</small>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<!--  <div class="col-lg-4 hidden-md">
            <div class="hpanel hgreen">
                <div class="panel-body" ng-style="{'border-top': '2px solid ' + colors.palette[1]}">
                    <img alt="logo" class="company-logo"
                         data-ng-src="{{'data:' + company.backgroundContentType + ';base64,' + company.background}}"
                         style="max-height: 150px; max-width: 100%;display: block;margin-left: auto;margin-right: auto " ng-if="company.background" color-thief color-thief-dominant="colors.dominant" color-thief-palette="colors.palette"/>
                    <h3>{{company.name}}<span class="pull-right">{{company.sapId}}</span></h3>

                    <div class="text-muted font-bold m-b-xs">California, LA</div>
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices
                    accumsan.
                    </p>
                    <uib-progressbar value="100" type="success" ng-style="{'background-color': colors.palette[2]}"
                                     class="progress-small full progress-striped active progressbar-company"></uib-progressbar>
                </div>
                <div class="border-right border-left">
                </div>
                <div class="panel-body" ng-style="{'border-top': '2px solid ' + colors.palette[1]}">
                    <h4>Purchase Orders - Unprocessed</h4>
                    <table class="table table-responsive hover">
                        <thead class="text-primary text-capitalize" style="font-weight: 600">
                            <tr>
                                <td>PO</td>
                                <td>Order</td>
                                <td>Ship to Party</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="po in pos.unprocessed">
                                <td>{{ po.poNumber }}</td>
                                <td>{{ po.serviceType }} <small>[{{ po.serviceLevel }}]</small></td>
                                <td>{{ po.shipToParty.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer contact-footer">
                    <div class="row">
                        <div class="col-md-4 border-right">
                            <div class="contact-stat"><span>Purchase Orders: </span> <strong>{{pos.processed.length + pos.processing.length + pos.unprocessed.length}}</strong></div>
                        </div>
                        <div class="col-md-4 border-right">
                            <div class="contact-stat"><span>Processing: </span> <strong>{{pos.processing.length}}</strong></div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-stat"><span>Unprocessed: </span> <strong>{{ pos.unprocessed.length }}</strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
		<div class="col-lg-12 col-md-12">
			<div class="hpanel" style="margin-bottom: 15px;">

				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<h2 class="font-light m-b-xs">Sales orders</h2>
							<jh-alert></jh-alert>
							<small>All sales orders captured in SAP against a specific customer</small>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<h4>From Date</h4>
								<div class="input-group">
									<input id="field_fromDate" type="text" class="form-control" uib-datepicker-popup name="fromDate" ng-model="soData.fromDate" datepicker-options="dateOptions" is-open="dateSetup.dpFromDate.opened" /> <span class="input-group-btn"> +
										<button type="button" class="btn btn-default" style="margin-top: 0px !important;" ng-click="dateSetup.dpFromDate.open($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</div>
								<div class="form-group">
									<h4>Order Type</h4>
									<select class="form-control" name="szone" ng-model="soData.orType" id="field_ioStatus">
										<option value="ZOUT">Outbound</option>
										<option value="ZINB">Inbound</option>
										<option value="YCO">Transport</option>
										<option value="ZRET">Returns</option>
										<option value="ZFF">Freight Forwarding & Clearing</option>
										<option value="ZWSE">Storage</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<h4>To Date</h4>
								<div class="input-group">
									<input id="field_toDate" type="text" class="form-control" uib-datepicker-popup name="toDate" ng-model="soData.toDate" datepicker-options="dateOptions" is-open="dateSetup.dpToDate.opened" /> <span class="input-group-btn"> +
										<button type="button" class="btn btn-default" ng-click="dateSetup.dpToDate.open($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">

					<button type="button" ng-click="reloadData(true)" class="btn btn-primary">
						<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Show Sales Orders</span>
					</button>
				</div>
			</div>
			<div class="hpanel" ng-show="showTable">
				<div class="panel-body">
					<uib-tabset> <uib-tab> <uib-tab-heading> <span class="badge badge-danger" style="margin-right: 10px">{{(undeliveredOrders | unique: '_dbeln').length}}</span>Undelivered&nbsp; <span class="btn btn-default btn-xs" ng-click="reloadData(true)" ng-disabled="loadingOrders"> <i class="fa fa-refresh" ng-class="{'fa-spin fa-fw': loadingOrders}"></i>
					</span> </uib-tab-heading>
					<div class="panel-body" style="padding-top: 0px;">
						<div class="table-responsive">
							<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped hover table-centered" style="width: 100% !important;">
								<thead>
									<tr>

										<th>Purchase Order</th>
										<th>Customer Controller</th>
										<th>Captured By</th>
										<th>Capture Date - Time</th>
										<th>Pickup Party</th>
										<th>Pickup HUB</th>
										<th>Ship to Party</th>
										<th>Consignee</th>
										<th>Sales Order</th>
										<th>Delivery No</th>
										<th>POD Status</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="order in undeliveredOrders | unique: '_dbeln'">

										<td>{{ order._bstkd }}</td>
										<td>{{ order._parvwYe }}</td>
										<td>{{ order._ernam }}</td>
										<td>{{ order._audat }} - {{ order._erzet }}</td>
										<td>{{ order._parvwYc }}</td>
										<td>{{ order._parvwYh }}</td>
										<td>{{ order._parvwWe }}</td>
										<td>{{ order._parvwAg }}</td>
										<td>{{ order._vbeln }}</td>
										<td>{{ order._dbeln }}</td>
										<td>{{ order._pdstk }}</td>
										<td width="10px">
											<button type="submit" ui-sref="orderdetailNew({poNumber: order._bstkd, deliveryNo: order._dbeln, type : soData.ioType, orderStep: ordersStep})" class="btn btn-info btn-sm">
												<span class="glyphicon glyphicon-eye-open"></span> <span class="hidden-xs hidden-sm"></span>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					</uib-tab> <uib-tab> <uib-tab-heading> <span class="badge badge-primary" style="margin-right: 10px">{{(deliveredOrders | unique: '_dbeln').length}}</span>Delivered </uib-tab-heading>
					<div class="panel-body" style="padding-top: 0px;">
						<div class="table-responsive">
							<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped hover" style="width: 100% !important;">
								<thead>
									<tr>
										<th>Purchase Order</th>
										<th>Customer Controller</th>
										<th>Captured By</th>
										<th>Capture Date - Time</th>
										<th>Pickup Party</th>
										<th>Pickup HUB</th>
										<th>Ship to Party</th>
										<th>Consignee</th>
										<th>Sales Order</th>
										<th>Delivery No</th>
										<th>POD Status</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="order in deliveredOrders | unique: '_dbeln'">
										<td>{{ order._bstkd }}</td>
										<td>{{ order._parvwYe }}</td>
										<td>{{ order._ernam }}</td>
										<td>{{ order._audat }} - {{ order._erzet }}</td>
										<td>{{ order._parvwYc }}</td>
										<td>{{ order._parvwYh }}</td>
										<td>{{ order._parvwWe }}</td>
										<td>{{ order._parvwAg }}</td>
										<td>{{ order._vbeln }}</td>
										<td>{{ order._dbeln }}</td>
										<td>{{ order._pdstk }}</td>
										<td width="10px">
											<button type="submit" ui-sref="orderdetailNew({poNumber: order._bstkd, deliveryNo: order._dbeln, type : soData.ioType, orderStep: ordersStep})" class="btn btn-info btn-sm">
												<span class="glyphicon glyphicon-eye-open"></span> <span class="hidden-xs hidden-sm"></span>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					</uib-tab>
					
					<uib-tab> <uib-tab-heading> <span class="badge badge-primary" style="margin-right: 10px">{{(emptyStatusOrders | unique: '_dbeln').length}}</span>Others </uib-tab-heading>
		<div class="panel-body" style="padding-top: 0px;">
			<div class="table-responsive">
				<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped hover" style="width: 100% !important;">
					<thead>
						<tr>
							<th>Purchase Order</th>
							<th>Customer Controller</th>
							<th>Captured By</th>
							<th>Capture Date - Time</th>
							<th>Pickup Party</th>
							<th>Pickup HUB</th>
							<th>Ship to Party</th>
							<th>Consignee</th>
							<th>Sales Order</th>
							<th>Delivery No</th>
							<th>POD Status</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="order in emptyStatusOrders | unique: '_dbeln'">
							<td>{{ order._bstkd }}</td>
							<td>{{ order._parvwYe }}</td>
							<td>{{ order._ernam }}</td>
							<td>{{ order._audat }} - {{ order._erzet }}</td>
							<td>{{ order._parvwYc }}</td>
							<td>{{ order._parvwYh }}</td>
							<td>{{ order._parvwWe }}</td>
							<td>{{ order._parvwAg }}</td>
							<td>{{ order._vbeln }}</td>
							<td>{{ order._dbeln }}</td>
							<td>{{ order._pdstk }}</td>
							<td width="10px">
								<button type="submit" ui-sref="orderdetailNew({poNumber: order._bstkd, deliveryNo: order._dbeln, type : soData.ioType, orderStep: ordersStep})" class="btn btn-info btn-sm">
									<span class="glyphicon glyphicon-eye-open"></span> <span class="hidden-xs hidden-sm"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		</uib-tab>  </uib-tabset>
				</div>
			</div>
		</div>
	</div>
</div>
