<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body text-center h-180" style="padding: 5px;">
                    <i class="icon-pi-cargo-trolley-1 fa-5x text-info"></i>

                    <h1 class="m-xs">{{ pos.unprocessed.length + pos.processing.length}}</h1>

                    <h3 class="font-extra-bold no-margins text-info">
                       In Progress
                    </h3>
                    <small>Your captured PO`s waiting to be processed by our team</small>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body text-center h-180" style="padding: 5px;">
                    <i class="icon-pi-truck-3 fa-5x text-info"></i>

                    <h1 class="m-xs">{{ (undeliveredOrders | unique: 'dbeln').length }}</h1>

                    <h3 class="font-extra-bold no-margins text-info">
                        In Transit
                    </h3>
                    <small>In the processes of being delivered by our team</small>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body text-center h-180" style="padding: 5px;">
                    <i class="icon-pi-hand-truck-4 fa-5x text-info"></i>

                    <h1 class="m-xs">{{ (deliveredOrders | unique: 'dbeln').length }}</h1>

                    <h3 class="font-extra-bold no-margins text-info">
                        Done
                    </h3>
                    <small>Done and dusted deliveries</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 hidden-md">
            <div class="hpanel hgreen">
                <div class="panel-body" ng-style="{'border-top': '2px solid ' + colors.palette[1]}">
                    <img alt="logo" class="company-logo"
                         data-ng-src="{{'data:' + company.backgroundContentType + ';base64,' + company.background}}"
                         style="max-height: 150px; max-width: 100%;display: block;margin-left: auto;margin-right: auto " ng-if="company.background" color-thief color-thief-dominant="colors.dominant" color-thief-palette="colors.palette"/>
                    <h3>{{company.name}}<span class="pull-right">{{company.sapId}}</span></h3>

                    <!--<div class="text-muted font-bold m-b-xs">California, LA</div>-->
                    <!--<p>-->
                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices-->
                    <!--accumsan.-->
                    <!--</p>-->
                    <uib-progressbar value="100" type="success" ng-style="{'background-color': colors.palette[2]}"
                                     class="progress-small full progress-striped active progressbar-company"></uib-progressbar>
                </div>
                <div class="border-right border-left">
                </div>
                <div class="panel-body" ng-style="{'border-top': '2px solid ' + colors.palette[1]}">
                    <h4>Purchase Orders - Unprocessed</h4>
                    <table class="table table-responsive hover">
                        <thead class="text-primary text-capitalize" style="font-weight: 600">
                            <tr>
                                <td>PO</td>
                                <td>Order</td>
                                <td>Ship to Party</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="po in pos.unprocessed">
                                <td>{{ po.poNumber }}</td>
                                <td>{{ po.serviceType }} <small>[{{ po.serviceLevel }}]</small></td>
                                <td>{{ po.shipToParty.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--<div class="panel-footer contact-footer">-->
                    <!--<div class="row">-->
                        <!--<div class="col-md-4 border-right">-->
                            <!--<div class="contact-stat"><span>Purchase Orders: </span> <strong>{{pos.processed.length + pos.processing.length + pos.unprocessed.length}}</strong></div>-->
                        <!--</div>-->
                        <!--<div class="col-md-4 border-right">-->
                            <!--<div class="contact-stat"><span>Processing: </span> <strong>{{pos.processing.length}}</strong></div>-->
                        <!--</div>-->
                        <!--<div class="col-md-4">-->
                            <!--<div class="contact-stat"><span>Unprocessed: </span> <strong>{{ pos.unprocessed.length }}</strong></div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="hpanel">
                <div class="panel-body">
                    <input ng-disabled="loadingOrders" ng-show="ordersStep !== 0" type="button" class="btn btn-primary pull-right" ng-click="ordersWizard.next()" value="Next 30 days" style="padding: 4px 15px;margin-right: 10px;margin-top: 4px;"/>
                    <input ng-disabled="loadingOrders" type="button" class="btn btn-primary pull-right" ng-click="ordersWizard.prev()" value="Prev 30 days" style="padding: 4px 15px;margin-right: 10px;margin-top: 4px;"/>

                    <uib-tabset>
                        <uib-tab>
                            <uib-tab-heading>
                                <span class="badge badge-danger" style="margin-right: 10px">{{(undeliveredOrders | unique: 'dbeln').length}}</span>Undelivered&nbsp;
                                <span class="btn btn-default btn-xs" ng-click="reloadData()" ng-disabled="loadingOrders">
                                    <i class="fa fa-refresh" ng-class="{'fa-spin fa-fw': loadingOrders}"></i>
                                </span>
                            </uib-tab-heading>
                            <div class="panel-body" style="padding-top: 0px;">
                                <div class="table-responsive">
                                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped hover" style="width: 100% !important;">
                                        <thead>
                                        <tr>
                                            <th>Purchase Order</th>
                                            <th>Capture Date</th>
                                            <th>Pickup</th>
                                            <th>Ship to</th>
                                            <th>Sales Order</th>
                                            <th>Delivery No</th>
                                            <th>Consignee</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="order in undeliveredOrders | unique: 'dbeln'">
                                                <!--<td>{{ order.bstkd }} <small ng-show="order.bezei">[{{ order.bezei }}]</small></td-->
                                            <td>{{ order.bstkd }}</td>
                                            <td>{{ purchaseOrders[order.bstkd].captureDate | date:'yyyy-MM-dd HH:mm' }}</td>
                                            <td>{{ purchaseOrders[order.bstkd].pickUpParty.name }}</td>
                                            <td>{{ purchaseOrders[order.bstkd].shipToParty.name }}</td>
                                            <td>{{ order.vbeln }}</td>
                                            <td>{{ order.dbeln }}</td>
                                            <td>{{ order.skunnr }}</td>
                                            <td width="10px">
                                                <button type="submit"
                                                        ui-sref="orderdetail({deliveryNo: order.dbeln, order: order, orderStep: ordersStep, company: company, purchaseOrder: purchaseOrders[order.bstkd]})"
                                                        class="btn btn-info btn-sm">
                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                    <span class="hidden-xs hidden-sm"></span>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab>
                            <uib-tab-heading>
                                <span class="badge badge-primary" style="margin-right: 10px">{{(deliveredOrders | unique: 'dbeln').length}}</span>Delivered
                            </uib-tab-heading>
                            <div class="panel-body" style="padding-top: 0px;">
                                <div class="table-responsive">
                                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped hover" style="width: 100% !important;">
                                        <thead>
                                            <tr>
                                                <th>Purchase Order</th>
                                                <th>Capture Date</th>
                                                <th>Pickup</th>
                                                <th>Ship to</th>
                                                <th>Sales Order</th>
                                                <th>Delivery No</th>
                                                <th>Consignee</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="order in deliveredOrders | unique: 'dbeln'">
                                                <td>{{ order.bstkd }}</small></td>
                                                <td>{{ purchaseOrders[order.bstkd].captureDate | date:'yyyy-MM-dd HH:mm' }}</td>
                                                <td>{{ purchaseOrders[order.bstkd].pickUpParty.name }}</td>
                                                <td>{{ purchaseOrders[order.bstkd].shipToParty.name }}</td>
                                                <td>{{ order.vbeln }}</td>
                                                <td>{{ order.dbeln }}</td>
                                                <td>{{ order.skunnr }}</td>
                                                <td width="10px">
                                                    <button type="submit"
                                                            ui-sref="orderdetail({deliveryNo: order.dbeln, order: order, orderStep: ordersStep, company: company, purchaseOrder: purchaseOrders[order.bstkd]})"
                                                            class="btn btn-info btn-sm">
                                                        <span class="glyphicon glyphicon-eye-open"></span>
                                                        <span class="hidden-xs hidden-sm"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>
</div>
