<div>
    <div small-header>
        <div class="hpanel" style="margin-bottom: 15px;">
            <div class="panel-body">
                <h2 class="font-light m-b-xs">
                    Order #{{orderGroup[0].dbeln}} Details
                </h2>
                <jh-alert></jh-alert>
                <small>Detailed order view as it proceeds from capture to completed</small>
            </div>
        </div>
    </div>
    <div class="hpanel">
        <div class="panel-body">

            <div id="timeline-wrap">
                <div id="timeline"></div>

                <!-- This is the individual marker-->
                <div class="marker mReceived timeline-icon" ng-class="{'done': states['RECEIVED']}">
                    <i class="icon-pi-cargo-box-3"></i>
                    <i class="checkmark fa fa-check" ng-show="states['RECEIVED']"></i>
                    <span style="margin-left: -105%;">Received</span>
                </div>
                <!-- / marker -->

                <!-- This is the individual marker-->
                <div class="marker mProcessed timeline-icon" ng-class="{'done': states['PROCESSED']}">
                    <i class="icon-pi-cargo-box-6"></i>
                    <i class="checkmark fa fa-check" ng-show="states['PROCESSED']"></i>
                    <span style="margin-left: -110%;">Processed</span>
                </div>
                <!-- / marker -->

                <!-- This is the individual marker-->
                <div class="marker mCollected timeline-icon" ng-class="{'done': states['COLLECTED']}">
                    <i class="icon-pi-cargo-trolley-1"></i>
                    <i class="checkmark fa fa-check" ng-show="states['COLLECTED']"></i>
				</span>
                    <span style="margin-left: -110%;">Collected</span>
                </div>
                <!-- / marker -->

                <!-- This is the individual marker-->
                <div class="marker mTransit timeline-icon" ng-class="{'done': states['IN_TRANSIT']}">
                    <i class="icon-pi-truck-3"></i>
                    <i class="checkmark fa fa-check" ng-show="states['IN_TRANSIT']"></i>
                    <span style="margin-left: -88%;">Transit</span>
                </div>
                <!-- / marker -->

                <!-- This is the individual marker-->
                <div class="marker mDelivered timeline-icon" ng-class="{'done': states['DELIVERED']}">
                    <i class="icon-pi-hand-truck-4"></i>
                    <i class="checkmark fa fa-check" ng-show="states['DELIVERED']"></i>
                    <span style="margin-left: -110%;">Delivered</span>
                </div>
                <!-- / marker -->

                <!-- This is the individual marker-->
                <div class="marker mPod timeline-icon" ng-class="{'done': states['POD']}">
                    <i class="icon-pi-checklist-3"></i>
                    <i class="checkmark fa fa-check" ng-show="states['POD_LOADED']"></i>
                    <span style="margin-left: -70%;">POD</span>
                </div>
                <!-- / marker -->

                <!-- This is the individual marker-->
                <div class="marker mInvoice timeline-icon" ng-class="{'done': states['INVOICE']}">
                    <i class="icon-pi-payment-2"></i>
                    <i class="checkmark fa fa-check" ng-show="states['INVOICE_LOADED']"></i>
                    <span style="margin-left: -70%;">Invoice</span>
                </div>
                <!-- / marker -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="hpanel">
                <div class="panel-heading">
                    <h2 class="font-light m-b-xs">
                       Details of your order
                    </h2>
                </div>
                <div class="panel-body list">
                    <div class="table-responsive project-list">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Step</th>
                                    <th>Description</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-hide="purchaseOrder.state === 'NOT_FOUND'">
                                    <td>1</td>
                                    <td>Order captured on portal
                                        <br/>
                                        <small>&nbsp; <i class="fa fa-user"></i> captured by {{purchaseOrder.user.firstName}} {{purchaseOrder.user.lastName}}</small>
                                    </td>
                                    <td>{{purchaseOrder.captureDate | date: 'yyyy-MM-dd hh:mm'}}</td>
                                </tr>
                                <tr ng-show="purchaseOrder.state === 'PROCESSING'">
                                    <td>2</td>
                                    <td>Order is being processed by Xeon Team
                                        <br/>
                                        <small>&nbsp; <i class="fa fa-bullseye"></i> assigned to {{purchaseOrder.xeonUser.firstName}} {{purchaseOrder.xeonUser.lastName}} </small>
                                    </td>
                                    <td>{{purchaseOrder.updatedDate | date: 'yyyy-MM-dd hh:mm'}}</td>
                                </tr>
                                <tr ng-show="states['PROCESSED']">
                                    <td>2</td>
                                    <td>Order has been processed by our team
                                        <br/>
                                        <small ng-show="purchaseOrder.xeonUser">&nbsp; <i class="fa fa-user"></i> processed by {{purchaseOrder.xeonUser.firstName}} {{purchaseOrder.xeonUser.lastName}}</small>
                                    </td>
                                    <td>{{purchaseOrder.updatedDate | date: 'yyyy-MM-dd hh:mm'}}</td>
                                </tr>
                                <tr ng-show="states['COLLECTED']">
                                    <td>3</td>
                                    <td>Order has been collected and is in transit
                                    </td>
                                    <td>{{orderGroup[0].datbg | date: 'yyyy-MM-dd'}} {{orderGroup[0].uatbg | date: 'mm:hh:ss'}}</td>
                                </tr>
                                <tr ng-show="states['DELIVERED']">
                                    <td>4</td>
                                    <td>Order has been delivered
                                    </td>
                                    <td>{{orderGroup[0].audat | date: 'yyyy-MM-dd'}} {{orderGroup[0].audat | date: 'mm:hh:ss'}}</td>
                                </tr>
                                <tr ng-show="states['POD']">
                                    <td>5</td>
                                    <td>POD uploaded and availible online
                                    </td>
                                    <td>{{orderGroup[0].audat | date: 'yyyy-MM-dd'}} {{podDate | date: 'mm:hh:ss'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="hpanel" ng-show="{{ purchaseOrder.comment }}">
                <div class="panel-heading">
                    <h2 class="font-light m-b-xs">
                        Comments
                    </h2>
                </div>
                <div class="panel-body list">
                    <div class="col-md-12">
                        <uib-alert type="info" close="closeAlert($index)" ng-show="purchaseOrder.comment"><strong>Comment : </strong>{{ purchaseOrder.comment }}</uib-alert>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="hpanel" style="margin-top: 70px;" ng-show="states['POD']">
                <div class="panel-body" ng-hide="states['POD_LOADED']">
                    <h4 style="text-align: center">Looking for POD, please be patient</h4>
                    <div class="row">
                        <div class="col-xs-12">
                            <uib-progressbar class="full progress-striped active" max="100" value="podLoading" type="info"></uib-progressbar>
                        </div>
                    </div>
                </div>
                <uib-tabset ng-show="states['POD_LOADED']">
                    <uib-tab>
                        <uib-tab-heading>
                            Proof Of Delivery&nbsp;
                        </uib-tab-heading>
                        <div class="panel-body list text-center" style="padding-top: 0px;">
                            <h3>Please click below to download POD</h3>
                            <img data-ng-src="{{pod}}" style="max-width: 100%;" ng-click="downloadPod()"/>
                        </div>
                    </uib-tab>
                    <uib-tab ng-show="states['INVOICE_LOADED']">
                        <uib-tab-heading>
                            Invoice&nbsp;
                        </uib-tab-heading>
                        <div class="panel-body" style="padding-top: 0px; text-align: center; height: 300px;">
                            <h3>Please click below to download invoice</h3>
                            <a href="" ng-click="downloadInvoice()">
                                <span class="fa-stack fa-5x icon-round-primary" >
                                  <i class="fa fa-download fa-stack-2x" style="padding-top:50px; font-size: 170px;"></i>
                                </span>
                            </a>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>
