<div>
    <div small-header>
        <div class="hpanel" style="margin-bottom: 15px;">
            <div class="panel-body">
                <h2 class="font-light m-b-xs">
                    Companys
                </h2>
                <small>admin screen for managing users in the system</small>
                <button class="btn btn-primary pull-right" ui-sref="company.new">
                    <span class="glyphicon glyphicon-plus"></span> <span>Create new Company</span>
                </button>
            </div>
            <jh-alert></jh-alert>
        </div>
    </div>
    <div class="hpanel">
        <div class="panel-body">

            <div class="table-responsive">
                <table class="jh-table table table-striped" fixed-header>
                    <thead>
                        <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                            <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="name"><span>Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="type"><span>Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="sapId"><span>SapId</span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="background"><span>Background</span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="company in companys track by company.id">
                            <td><a ui-sref="company.detail({id:company.id})">{{company.id}}</a></td>
                            <td>{{company.name}}</td>
                            <td>{{company.type}}</td>
                            <td>{{company.sapId}}</td>
                            <td>
                                <img data-ng-src="{{'data:' + company.backgroundContentType + ';base64,' + company.background}}" style="max-height: 30px;" ng-if="company.background"/> {{company.backgroundContentType}} {{byteSize(company.background)}}
                            </td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            ui-sref="company.detail({id:company.id})"
                                            class="btn btn-info btn-sm">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <span class="hidden-xs hidden-sm"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="company.edit({id:company.id})"
                                            class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        <span class="hidden-xs hidden-sm"></span>
                                    </button>
                                    <button type="submit"
                                            ui-sref="company.delete({id:company.id})"
                                            class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                        <span class="hidden-xs hidden-sm"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
            </div>
        </div>
    </div>
</div>
