<div>
	<div >
		<div class="hpanel" style="margin-bottom: 15px;">
			
			<div class="panel-body">
			<div class="row">
						<div class="col-md-6">
							<h2 class="font-light m-b-xs">Sales orders</h2>
							<jh-alert></jh-alert>
							<small>All sales orders captured in SAP against a
								specific customer</small>
						</div>
					</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<h4>From Date</h4>
						<div class="input-group">
							<input id="field_fromDate" type="text" class="form-control" uib-datepicker-popup name="fromDate" ng-model="soData.fromDate" datepicker-options="dateOptions" is-open="dateSetup.dpFromDate.opened" /> <span class="input-group-btn"> +
								<button type="button" class="btn btn-default" style="margin-top: 0px !important;" ng-click="dateSetup.dpFromDate.open($event)">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
						</div>
						<div class="form-group">
							<h4>Order Type</h4>
							<select class="form-control" name="szone" ng-model="soData.ioType" id="field_ioStatus">
								<option value="ZOUT">Outbound</option>
								<option value="ZINB">Inbound</option>
								<option value="YCO">Transport</option>
								<option value="ZRET">Returns</option>
								<option value="ZFF">Freight Forwarding & Clearing</option>
								<option value="ZWSE">Storage</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<h4>To Date</h4>
						<div class="input-group">
							<input id="field_toDate" type="text" class="form-control" uib-datepicker-popup name="toDate" ng-model="soData.toDate" datepicker-options="dateOptions" is-open="dateSetup.dpToDate.opened" /> <span class="input-group-btn"> +
								<button type="button" class="btn btn-default" ng-click="dateSetup.dpToDate.open($event)">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
						</div>
						<div class="form-group" has-authority="ROLE_USER">
							 
								 
									<h4>Company</h4>
									
										<button type="submit" id="salesOR" style="display: none"
											class="btn btn-info btn-sm">
											<span class="glyphicon glyphicon-eye-open"></span> <span
												class="hidden-xs hidden-sm"></span>
										</button>
										<ui-select ng-model="selected.company"
											title="Choose a company"> <ui-select-match
											placeholder="Select or search for company">{{$select.selected.name}}</ui-select-match>
										<ui-select-choices
											repeat="company in companies | orderBy:'name'">
										<span ng-bind-html="company.name | highlight: $select.search"></span>
										<small
											ng-bind-html="' - [SapId: ' + company.sapId + ']' | highlight: $select.search"></small>
										</ui-select-choices> </ui-select>
									
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">

			<button type="button" ng-click="reloadData(true)" class="btn btn-primary">
				<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Show Report</span>
			</button>
		</div>
		</div>
				 
		</div>
	</div>
	<div class="hpanel" ng-show="showTable">
		<div class="panel-body">
			

			<uib-tabset> <uib-tab> <uib-tab-heading> <span class="badge badge-danger" style="margin-right: 10px">{{(undeliveredOrders | unique: 'DBELN').length}}</span>Undelivered&nbsp; <span class="btn btn-default btn-xs" ng-click="reloadData(true)" ng-disabled="loadingOrders"> <i class="fa fa-refresh" ng-class="{'fa-spin fa-fw': loadingOrders}"></i>
			</span> </uib-tab-heading>
			<div class="panel-body" style="padding-top: 0px;">
				<div class="table-responsive">
					<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped hover table-centered" style="width: 100% !important;">
						<thead>
							<tr>
								 
								<th>Purchase Order</th>
								<th>Customer Controller</th>
								<th>Captured By</th>
								<th>Capture Date - Time</th>
								<th>Pickup Party</th>
								<th>Pickup HUB</th>
								<th>Ship to Party</th>
								<th>Consignee</th>
								<th>Sales Order</th>
								<th>Delivery No</th>
								<th>POD Status</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="order in undeliveredOrders | unique: 'DBELN'">
								 
								<td>{{ order.BSTKD }}</td>
								<td>{{ order.PARVW_YE }}</td>
								<td>{{ order.ERNAM }}</td>
								<td>{{ order.AUDAT }} - {{ order.ERZET}}</td>
								<td>{{ order.PARVW_YC }}</td>
								<td>{{ order.PARVW_YH }}</td>
								<td>{{ order.PARVW_WE }}</td>
								<td>{{ order.PARVW_AG }}</td>
								<td>{{ order.VBELN }}</td>
								<td>{{ order.DBELN }}</td>
								<td>{{ order.PDSTK }}</td>
								<td width="10px">
									<button type="submit" ui-sref="orderdetailNew({poId: order.BSTKD, deliveryNo: order.DBELN, type : soData.ioType, orderStep: ordersStep})" class="btn btn-info btn-sm">
										<span class="glyphicon glyphicon-eye-open"></span> <span class="hidden-xs hidden-sm"></span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			</uib-tab> <uib-tab> <uib-tab-heading> <span class="badge badge-primary" style="margin-right: 10px">{{(deliveredOrders | unique: 'DBELN').length}}</span>Delivered </uib-tab-heading>
			<div class="panel-body" style="padding-top: 0px;">
				<div class="table-responsive">
					<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped hover" style="width: 100% !important;">
						<thead>
							<tr>
								<th>Purchase Order</th>
								<th>Customer Controller</th>
								<th>Captured By</th>
								<th>Capture Date - Time</th>
								<th>Pickup Party</th>
								<th>Pickup HUB</th>
								<th>Ship to Party</th>
								<th>Consignee</th>
								<th>Sales Order</th>
								<th>Delivery No</th>
								<th>POD Status</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="order in deliveredOrders | unique: 'DBELN'">
								<td>{{ order.BSTKD }}</td>
								<td>{{ order.PARVW_YE }}</td>
								<td>{{ order.ERNAM }}</td>
								<td>{{ order.AUDAT }} - {{ order.ERZET}}</td>
								<td>{{ order.PARVW_YC }}</td>
								<td>{{ order.PARVW_YH }}</td>
								<td>{{ order.PARVW_WE }}</td>
								<td>{{ order.PARVW_AG }}</td>
								<td>{{ order.VBELN }}</td>
								<td>{{ order.DBELN }}</td>
								<td>{{ order.PDSTK }}</td>
								<td width="10px">
									<button type="submit" ui-sref="orderdetailNew({poId: order.BSTKD, deliveryNo: order.DBELN, type : soData.ioType, orderStep: ordersStep})" class="btn btn-info btn-sm">
										<span class="glyphicon glyphicon-eye-open"></span> <span class="hidden-xs hidden-sm"></span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			</uib-tab> </uib-tabset>
		</div>
	</div>
</div>
