<div>
    <div small-header>
        <div class="hpanel" style="margin-bottom: 15px;">
            <div class="panel-body">
                <h2 class="font-light m-b-xs">
                    Users
                </h2>
                <jh-alert></jh-alert>
                <small>admin screen for managing users in the system</small>
                <button class="btn btn-primary pull-right" ui-sref="user-management.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new User</span>
                </button>
            </div>
        </div>
    </div>
    <div class="hpanel">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Company</th>
                        <th>Login</th>
                        <th>Email</th>
                        <th>Profiles</th>
                        <th>Fin Controller</th>
                        <th>CSU Assigned</th>
                        <th>CreatedDate</th>
                        <th width="190px"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users track by user.id">
                        <td><a ui-sref="user-management-detail({login:user.login})">{{user.id}}</a></td>
                        <td>{{user.company.name}}</td>
                        <td>{{user.login}}</td>
                        <td>{{user.email}}</td>

                        <td>
                            <div ng-repeat="authority in user.authorities">
                                <span class="label label-info">{{ authority }}</span>
                            </div>
                        </td>
                        <td>{{user.fcSapId}}</td>
                        <td>{{user.csu.firstName + ' ' + user.csu.lastName}}</td>
                        <td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
                        <td class="text-right">
                            <span class="label label-danger" ng-click="setActive(user, true)" ng-hide="user.enabled" style="cursor: pointer;">Deleted</span>
                            <span class="label label-danger" ng-click="setActive(user, true)" ng-show="user.enabled && !user.activated" style="cursor: pointer;">De-activated</span>
                            <span class="label label-success" ng-click="setActive(user, false)" ng-show="user.enabled && user.activated" style="cursor: pointer;">Activated</span>
                            <button type="submit" ng-disabled="!user.enabled"
                                    ui-sref="user-management-detail({login:user.login})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                            <button type="submit" ng-disabled="!user.enabled"
                                    ui-sref="user-management.edit({login:user.login})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="submit" ng-disabled="!user.enabled"
                                    ui-sref="user-management.delete({login:user.login})"
                                    class="btn btn-danger btn-sm"
                                    ng-disabled="currentAccount.login==user.login">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center">
                <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
            </div>
        </div>
    </div>
</div>
