
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPoLineLabel" ng-show="!poLine.rowId">Create order line item</h4>
        <h4 class="modal-title" id="myPoLineLabel" ng-show="poLine.rowId">Updating order line {{poLine.rowId}}</h4>
    </div>
    <jh-alert-error></jh-alert-error>
    <div class="modal-body">
        <div class="row" ng-show="outOfGage">
            <div class="col-md-12 text-center tc-red-dark">
                <p><strong>This cargo seems to be out of gauge , </strong></br>please note that additional charges may apply</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="field_materialNumber">Material Number</label>
                    <input type="text" class="form-control" name="materialNumber" id="field_materialNumber"
                           ng-model="poLine.materialNumber" ng-required="requiredFields['materialNumber']"
                           />
                    <div ng-show="editForm.materialNumber.$invalid">
                        <p class="help-block small-help-block pull-right"
                           ng-show="editForm.materialNumber.$error.required">
                            required
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="field_materialType">Material Type</label>
                    <select class="form-control" name="materialType" ng-model="poLine.materialType" ng-required="requiredFields['materialType']"
                            id="field_materialType" ng-options="enum | prittyPrint for enum in staticEnums['materialTypes']">
                    </select>
                    <div ng-show="editForm.materialType.$invalid">
                        <p class="help-block small-help-block pull-right"
                           ng-show="editForm.materialType.$error.required">
                            required
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="field_batchNumber">Batch Number</label>
                    <input type="text" class="form-control" name="batchNumber" id="field_batchNumber"
                           ng-model="poLine.batchNumber" ng-required="requiredFields['batchNumber']"
                    />
                    <div ng-show="editForm.batchNumber.$invalid">
                        <p class="help-block small-help-block pull-right"
                           ng-show="editForm.batchNumber.$error.required">
                            required
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="field_orderQuantity">Order Quantity</label>
                    <input type="number" class="form-control" name="orderQuantity" id="field_orderQuantity"
                           ng-model="poLine.orderQuantity" ng-required="requiredFields['orderQuantity']" min="1"
                    />
                    <div ng-show="editForm.orderQuantity.$invalid">
                        <p class=" help-block small-help-block pull-right"
                           ng-show="editForm.orderQuantity.$error.required">
                            required
                        </p>
                        <p class=" help-block small-help-block pull-right"
                           ng-show="editForm.orderQuantity.$error.number">
                            This field should be a number.
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <blockquote class="blockquote-warn" ng-show="poLine.materialType">
                    <p><strong>Please note,</strong> below info is per {{poLine.materialType}}</p>
                </blockquote>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="field_netWeight">Net Weight</label>
                    <div class="input-group">
                        <input type="number" class="form-control" name="netWeight" id="field_netWeight" ng-model="poLine.netWeight" ng-required="requiredFields['netWeight']"/>
                        <span class="input-group-addon">kg</span>
                    </div>
                    <div ng-show="editForm.netWeight.$invalid">
                        <p class=" help-block small-help-block pull-right" ng-show="editForm.netWeight.$error.required">
                            required
                        </p>
                        <p class=" help-block small-help-block pull-right" ng-show="editForm.netWeight.$error.number">
                            This field should be a number.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="field_dvType">Dimensions or Volume</label>
                    <div class="input-group" style="width: 100%;">
                        <select class="form-control" name="dvType" ng-model="poLine.dvType" id="field_dvType" ng-required="requiredFields['dvType']">
                            <option value="DIMENSIONS">Dimensions</option>
                            <option value="VOLUME">Volume</option>
                        </select>
                    </div>
                    <div class="form-group" style="padding-top: 15px;">
                        <blockquote>
                            <dl class="dl-horizontal">
                                <dt>Total gross weight : </dt>
                                <dd>{{ (poLine.grossWeight * poLine.orderQuantity) | number:3 }}Kg</dd>
                                <dt>Total cubes : </dt>
                                <dd ng-show="poLine.dvType === 'DIMENSIONS'">{{ ((poLine.width * poLine.height * poLine.length)/1000000 * poLine.orderQuantity) | number:3 }}m&sup3;</dd>
                                <dd ng-show="poLine.dvType === 'VOLUME'">{{ (poLine.volume * poLine.orderQuantity) | number:3 }}m&sup3;</dd>
                            </dl>
                        </blockquote>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="field_grossWeight">Gross Weight</label>
                    <div class="input-group">
                        <input type="number" class="form-control" name="grossWeight" id="field_grossWeight" ng-model="poLine.grossWeight" ng-required="requiredFields['grossWeight']" />
                        <span class="input-group-addon">kg</span>
                    </div>
                    <div ng-show="editForm.grossWeight.$invalid">
                        <p class=" help-block small-help-block pull-right" ng-show="editForm.grossWeight.$error.required">
                            required
                        </p>
                        <p class=" help-block small-help-block pull-right" ng-show="editForm.grossWeight.$error.number">
                            This field should be a number.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="field_length">Volume (m&sup3;)</label>
                    <div class="input-group">
                        <input type="number" class="form-control" name="volume" id="field_volume"
                               ng-model="poLine.volume" ng-required="requiredFields['volume']"
                        />
                        <span class="input-group-addon">cm</span>
                    </div>
                    <div ng-show="editForm.volume.$invalid">
                        <p class=" help-block small-help-block pull-right"
                           ng-show="editForm.volume.$error.required">
                            required
                        </p>
                        <p class=" help-block small-help-block pull-right"
                           ng-show="editForm.volume.$error.number">
                            This field should be a number.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="field_length">Length</label>
                    <div class="input-group">
                        <input type="number" class="form-control" name="length" id="field_length" ng-change="isGageLength()" ng-model-options='{ debounce: 1000 }'
                               ng-model="poLine.length" ng-required="requiredFields['length']"
                        />
                        <span class="input-group-addon">cm</span>
                    </div>
                    <div ng-show="editForm.length.$invalid">
                        <p class=" help-block small-help-block pull-right"
                           ng-show="editForm.length.$error.required">
                            required
                        </p>
                        <p class=" help-block small-help-block pull-right"
                           ng-show="editForm.length.$error.number">
                            This field should be a number.
                        </p>
                    </div>
                    <div ng-show="outOfGageL">
                        <p class="help-block small-help-block pull-right">
                            Out of gauge
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="field_width">Width</label>
                    <div class="input-group">
                        <input type="number" class="form-control" name="width" id="field_width" ng-change="isGageWidth()" ng-model-options='{ debounce: 1000 }'
                               ng-model="poLine.width" ng-required="requiredFields['width']"
                        />
                        <span class="input-group-addon">cm</span>
                    </div>

                    <div ng-show="editForm.width.$invalid">
                        <p class=" help-block small-help-block pull-right"
                           ng-show="editForm.width.$error.required">
                            required
                        </p>
                        <p class=" help-block small-help-block pull-right"
                           ng-show="editForm.width.$error.number">
                            This field should be a number.
                        </p>
                    </div>
                    <div ng-show="outOfGageW">
                        <p class="help-block small-help-block pull-right">
                            Out of gauge
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="field_height">Height</label>
                    <div class="input-group">
                        <input type="number" class="form-control" name="height" id="field_height" ng-change="isGageHeight()" ng-model-options='{ debounce: 1000 }'
                               ng-model="poLine.height" ng-required="requiredFields['height']"
                        />
                        <span class="input-group-addon">cm</span>
                    </div>
                    <div ng-show="editForm.height.$invalid">
                        <p class=" help-block small-help-block pull-right"
                           ng-show="editForm.height.$error.required">
                            required
                        </p>
                        <p class=" help-block small-help-block pull-right"
                           ng-show="editForm.height.$error.number">
                            This field should be a number.
                        </p>
                    </div>
                    <div ng-show="outOfGageH">
                        <p class="help-block small-help-block pull-right">
                            Out of gauge
                        </p>
                    </div>
                </div>
                <div class="form-group" ng-show="poLine.dvType === 'VOLUME'">
                    <blockquote class="blockquote-warn">
                        <p><strong>Please note,</strong> volume is not the preference</p>
                    </blockquote>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
