
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPoLineLabel" ng-show="!poLine.rowId">Create order line item</h4>
        <h4 class="modal-title" id="myPoLineLabel" ng-show="poLine.rowId">Updating order line {{poLine.rowId}}</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="field_materialNumber">Material Number</label>
                    <input type="text" class="form-control" name="materialNumber" id="field_materialNumber"
                           ng-model="poLine.materialNumber" ng-required="requiredFields['materialNumber']"
                           />
                    <div ng-show="editForm.materialNumber.$invalid">
                        <p class="help-block small-help-block pull-right"
                           ng-show="editForm.materialNumber.$error.required">
                            required
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="field_materialType">Material Type</label>
                    <select class="form-control" name="materialType" ng-model="poLine.materialType"
                            id="field_materialType">
                        <option value="EACH">ITEM</option>
                        <option value="BOX">BOX</option>
                        <option value="CRATE">CRATE</option>
                        <option value="PACKAGE">PACKAGE</option>
                        <option value="PALLET">PALLET</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="field_batchNumber">Batch Number</label>
                    <input type="text" class="form-control" name="batchNumber" id="field_batchNumber"
                           ng-model="poLine.batchNumber" ng-required="requiredFields['batchNumber']"
                    />
                    <div ng-show="editForm.batchNumber.$invalid">
                        <p class="help-block small-help-block pull-right"
                           ng-show="editForm.batchNumber.$error.required">
                            required
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="field_orderQuantity">Order Quantity</label>
                    <input type="number" class="form-control" name="orderQuantity" id="field_orderQuantity"
                           ng-model="poLine.orderQuantity" ng-required="requiredFields['orderQuantity']"
                    />
                    <div ng-show="editForm.orderQuantity.$invalid">
                        <p class=" help-block small-help-block pull-right"
                           ng-show="editForm.orderQuantity.$error.required">
                            required
                        </p>
                        <p class=" help-block small-help-block pull-right"
                           ng-show="editForm.orderQuantity.$error.number">
                            This field should be a number.
                        </p>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <blockquote class="blockquote-warn">
                    <p><strong>Please note,</strong> below info is per {{poLine.materialType}}</p>
                </blockquote>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="field_netWeight">NetWeight</label>
                    <div class="input-group">
                        <input type="number" class="form-control" name="netWeight" id="field_netWeight"
                               ng-model="poLine.netWeight" ng-required="requiredFields['netWeight']"
                        />
                        <span class="input-group-addon">kg</span>
                    </div>
                    <div ng-show="editForm.netWeight.$invalid">
                        <p class=" help-block small-help-block pull-right"
                           ng-show="editForm.netWeight.$error.required">
                            required
                        </p>
                        <p class=" help-block small-help-block pull-right"
                           ng-show="editForm.netWeight.$error.number">
                            This field should be a number.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="field_grossWeight">GrossWeight</label>
                    <div class="input-group">
                        <input type="number" class="form-control" name="grossWeight" id="field_grossWeight"
                               ng-model="poLine.grossWeight" ng-required="requiredFields['grossWeight']"
                        />
                        <span class="input-group-addon">kg</span>
                    </div>
                    <div ng-show="editForm.grossWeight.$invalid">
                        <p class=" help-block small-help-block pull-right"
                           ng-show="editForm.grossWeight.$error.required">
                            required
                        </p>
                        <p class=" help-block small-help-block pull-right"
                           ng-show="editForm.grossWeight.$error.number">
                            This field should be a number.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label" for="field_length">Length</label>
                    <div class="input-group">
                        <input type="number" class="form-control" name="length" id="field_length"
                               ng-model="poLine.length" ng-required="requiredFields['length']"
                        />
                        <span class="input-group-addon">cm</span>
                    </div>
                    <div ng-show="editForm.length.$invalid">
                        <p class=" help-block small-help-block pull-right"
                           ng-show="editForm.length.$error.required">
                            required
                        </p>
                        <p class=" help-block small-help-block pull-right"
                           ng-show="editForm.length.$error.number">
                            This field should be a number.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="field_width">Width</label>
                    <div class="input-group">
                        <input type="number" class="form-control" name="width" id="field_width"
                               ng-model="poLine.width" ng-required="requiredFields['width']"
                        />
                        <span class="input-group-addon">cm</span>
                    </div>

                    <div ng-show="editForm.width.$invalid">
                        <p class=" help-block small-help-block pull-right"
                           ng-show="editForm.width.$error.required">
                            required
                        </p>
                        <p class=" help-block small-help-block pull-right"
                           ng-show="editForm.width.$error.number">
                            This field should be a number.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="field_height">Height</label>
                    <div class="input-group">
                        <input type="number" class="form-control" name="height" id="field_height"
                               ng-model="poLine.height" ng-required="requiredFields['height']"
                        />
                        <span class="input-group-addon">cm</span>
                    </div>
                    <div ng-show="editForm.height.$invalid">
                        <p class=" help-block small-help-block pull-right"
                           ng-show="editForm.height.$error.required">
                            required
                        </p>
                        <p class=" help-block small-help-block pull-right"
                           ng-show="editForm.height.$error.number">
                            This field should be a number.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <blockquote>
                    <dl class="dl-horizontal">
                        <dt>Total gross weight : </dt>
                        <dd>{{ (poLine.grossWeight * poLine.orderQuantity) | number:2 }}Kg</dd>
                        <dt>Total cubes : </dt>
                        <dd>{{ ((poLine.width * poLine.height * poLine.length)/1000000 * poLine.orderQuantity) | number:2 }}m&sup3;</dd>
                    </dl>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
