
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPurchaseOrderLabel">Create or edit a PurchaseOrder</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="purchaseOrder.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_state">State</label>
            <select class="form-control" name="state" ng-model="purchaseOrder.state" id="field_state" required>
                <option value="PROCESSED">PROCESSED</option>
                <option value="UNPROCESSED">UNPROCESSED</option>
            </select>
            <div ng-show="editForm.state.$invalid">
                <p class="help-block"
                    ng-show="editForm.state.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_serviceLevel">ServiceLevel</label>
            <select class="form-control" name="serviceLevel" ng-model="purchaseOrder.serviceLevel" id="field_serviceLevel">
                <option value="ECONOMY">ECONOMY</option>
                <option value="EXPRESS_AM">EXPRESS_AM</option>
                <option value="EXPRESS_PM">EXPRESS_PM</option>
                <option value="DEDICATED">DEDICATED</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_captureDate">CaptureDate</label>
            <input type="datetime-local" class="form-control" name="captureDate" id="field_captureDate"
                    ng-model="purchaseOrder.captureDate"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_deliveryDate">DeliveryDate</label>
                <div class="input-group">
                    <input id="field_deliveryDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="purchaseOrder.deliveryDate" is-open="datePickerForDeliveryDate.status.opened"
                    required/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="datePickerForDeliveryDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            <div ng-show="editForm.deliveryDate.$invalid">
                <p class="help-block"
                    ng-show="editForm.deliveryDate.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_poNumber">PoNumber</label>
            <input type="text" class="form-control" name="poNumber" id="field_poNumber"
                    ng-model="purchaseOrder.poNumber"
                    required />
            <div ng-show="editForm.poNumber.$invalid">
                <p class="help-block"
                    ng-show="editForm.poNumber.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_reference">Reference</label>
            <input type="text" class="form-control" name="reference" id="field_reference"
                    ng-model="purchaseOrder.reference"
                    required />
            <div ng-show="editForm.reference.$invalid">
                <p class="help-block"
                    ng-show="editForm.reference.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_customerType">CustomerType</label>
            <select class="form-control" name="customerType" ng-model="purchaseOrder.customerType" id="field_customerType">
                <option value="REGULAR">REGULAR</option>
                <option value="ONE_TIME">ONE_TIME</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_shipToType">ShipToType</label>
            <select class="form-control" name="shipToType" ng-model="purchaseOrder.shipToType" id="field_shipToType">
                <option value="RETAIL">RETAIL</option>
                <option value="STANDARD">STANDARD</option>
                <option value="HOME_DROP_BOX">HOME_DROP_BOX</option>
                <option value="HOME_CONNECTION">HOME_CONNECTION</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_telephone">Telephone</label>
            <input type="text" class="form-control" name="telephone" id="field_telephone"
                    ng-model="purchaseOrder.telephone"
                    required />
            <div ng-show="editForm.telephone.$invalid">
                <p class="help-block"
                    ng-show="editForm.telephone.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_collective">Collective</label>
            <input type="text" class="form-control" name="collective" id="field_collective"
                    ng-model="purchaseOrder.collective"
                    required />
            <div ng-show="editForm.collective.$invalid">
                <p class="help-block"
                    ng-show="editForm.collective.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_accountReference">AccountReference</label>
            <input type="text" class="form-control" name="accountReference" id="field_accountReference"
                    ng-model="purchaseOrder.accountReference"
                    required />
            <div ng-show="editForm.accountReference.$invalid">
                <p class="help-block"
                    ng-show="editForm.accountReference.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_modeOfTransport">ModeOfTransport</label>
            <select class="form-control" name="modeOfTransport" ng-model="purchaseOrder.modeOfTransport" id="field_modeOfTransport">
                <option value="AIR_DELIVERIES">AIR_DELIVERIES</option>
                <option value="AIR_TRANSFERS">AIR_TRANSFERS</option>
                <option value="ROAD">ROAD</option>
                <option value="SEA">SEA</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_carrierVesselName">CarrierVesselName</label>
            <input type="text" class="form-control" name="carrierVesselName" id="field_carrierVesselName"
                    ng-model="purchaseOrder.carrierVesselName"
                    required />
            <div ng-show="editForm.carrierVesselName.$invalid">
                <p class="help-block"
                    ng-show="editForm.carrierVesselName.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_carrierVesselNumber">CarrierVesselNumber</label>
            <input type="text" class="form-control" name="carrierVesselNumber" id="field_carrierVesselNumber"
                    ng-model="purchaseOrder.carrierVesselNumber"
                    required />
            <div ng-show="editForm.carrierVesselNumber.$invalid">
                <p class="help-block"
                    ng-show="editForm.carrierVesselNumber.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_pickUpType">PickUpType</label>
            <select class="form-control" name="pickUpType" ng-model="purchaseOrder.pickUpType" id="field_pickUpType">
                <option value="RETAIL">RETAIL</option>
                <option value="STANDARD">STANDARD</option>
                <option value="HOME_DROP_BOX">HOME_DROP_BOX</option>
                <option value="HOME_CONNECTION">HOME_CONNECTION</option>
            </select>
        </div>

        <div class="form-group">
            <label for="field_shipToParty">shipToParty</label>
            <select class="form-control" id="field_shipToParty" name="shipToParty" ng-model="purchaseOrder.shipToPartyId" ng-options="party.id as party.id for party in shiptopartys | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_pickUpParty">pickUpParty</label>
            <select class="form-control" id="field_pickUpParty" name="pickUpParty" ng-model="purchaseOrder.pickUpPartyId" ng-options="party.id as party.id for party in pickuppartys | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_employee">employee</label>
            <select class="form-control" id="field_employee" name="employee" ng-model="purchaseOrder.employeeId" ng-options="employee.id as employee.name for employee in employees">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
