<div>
    <div small-header>
        <div class="hpanel" style="margin-bottom: 15px;">
            <div class="panel-body">
                <h2 class="font-light m-b-xs" ng-show="purchaseOrder.id">
                    Update Purchase Order : {{purchaseOrder.id}}
                </h2>
                <h2 class="font-light m-b-xs" ng-hide="purchaseOrder.id">
                    Create new Purchase Order
                </h2>
                <div class="pull-right" style="margin-top: -20px;">
                    <button class="btn btn-default" ng-click="clear()" ng-hide="purchaseOrder.id">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Clear Form</span>
                    </button>
                    <button class="btn btn-primary2" ui-sref="purchaseOrder.comment" has-authority="ROLE_USER" ng-show="purchaseOrder.id">
                        <span>Comment</span>
                    </button>
                    <button class="btn btn-primary" ui-sref="purchaseOrder.process" ng-show="isXeon && purchaseOrder.id && purchaseOrder.state === 'UNPROCESSED'">
                        <span>{{purchaseOrder.state}}</span>
                    </button>
                    <button class="btn btn-primary" ng-show="purchaseOrder.id && purchaseOrder.state === 'PROCESSED'">
                        <span>Fully {{purchaseOrder.state.toLowerCase()}}</span>
                    </button>
                </div>
                <jh-alert></jh-alert>
            </div>
        </div>
    </div>
    <div class="hpanel">
        <div class="panel-body p-xl">
            <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
                <div class="text-center">

                    <button ng-click="wizard.show(1)" style="width: 150px;margin: 0px 5px;" class="btn" ng-class="{ 'btn-primary': step == 1, 'btn-default': step != 1}">
                        <span>Step 1 - Order Details</span>
                    </button>
                    <button ng-click="wizard.show(2)" style="width: 150px;margin: 0px 5px;" ng-disabled="editForm.$invalid" class="btn" ng-class="{ 'btn-primary': step == 2, 'btn-default': step != 2}">
                        <span>Step 2 - Delivery Details</span>
                    </button>
                    <button ng-click="wizard.show(3)" style="width: 150px;margin: 0px 5px;" ng-disabled="editForm.$invalid" class="btn" ng-class="{ 'btn-primary': step == 3, 'btn-default': step != 2}">
                        <span>Step 3 - Cargo Details</span>
                    </button>
                    <button ng-click="wizard.show(4)" style="width: 150px;margin: 0px 5px;" ng-disabled="editForm.$invalid" class="btn" ng-class="{ 'btn-primary': step == 4, 'btn-default': step != 2}">
                        <span>Step 4 - Line Items</span>
                    </button>
                    <button ng-click="wizard.show(5)" style="width: 150px;margin: 0px 5px;" ng-disabled="editForm.$invalid" class="btn" ng-class="{ 'btn-primary': step == 5, 'btn-default': step != 2}">
                        <span>Step 5 - Line Items</span>
                    </button>
                    <button ng-click="wizard.show(6)" style="width: 150px;margin: 0px 5px;" ng-disabled="editForm.$invalid" class="btn" ng-class="{ 'btn-primary': step == 6, 'btn-default': step != 3}">
                        <span>Step 6 - Confirm</span>
                    </button>
                </div>
                <div ng-show="step == 1" class="p-m">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="field_poNumber">Purchase Order Number</label>
                                    <input type="text" class="form-control" name="poNumber" id="field_poNumber"
                                           ng-model="purchaseOrder.poNumber"
                                           required/>
                                    <div ng-show="editForm.poNumber.$invalid">
                                        <p class="help-block small-help-block pull-right"
                                           ng-show="editForm.poNumber.$error.required">
                                            required
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="field_reference">Reference</label>
                                    <input type="text" class="form-control" name="reference" id="field_reference"
                                           ng-model="purchaseOrder.reference"
                                           required/>
                                    <div ng-show="editForm.reference.$invalid">
                                        <p class="help-block small-help-block pull-right"
                                           ng-show="editForm.reference.$error.required">
                                            required
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="field_accountReference">AccountReference</label>
                                    <input type="text" class="form-control" name="accountReference"
                                           id="field_accountReference"
                                           ng-model="purchaseOrder.accountReference"
                                           required/>
                                    <div ng-show="editForm.accountReference.$invalid">
                                        <p class="help-block small-help-block pull-right"
                                           ng-show="editForm.accountReference.$error.required">
                                            required
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="field_collective">Collective</label>
                                    <input type="text" class="form-control" name="collective" id="field_collective"
                                           ng-model="purchaseOrder.collective"
                                           required/>
                                    <div ng-show="editForm.collective.$invalid">
                                        <p class="help-block small-help-block pull-right"
                                           ng-show="editForm.collective.$error.required">
                                            required
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="control-label" for="field_serviceType">Service Type</label>
                                    <select class="form-control" name="serviceType" ng-model="purchaseOrder.serviceType"
                                            id="field_serviceType">
                                        <option value="COURIER">Courier</option>
                                        <option value="INBOUND">Inbound</option>
                                        <option value="OUTBOUND">Outbound</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="field_serviceLevel">Service Level</label>
                                    <select class="form-control" name="serviceLevel" ng-model="purchaseOrder.serviceLevel"
                                            id="field_serviceLevel">
                                        <option value="ECONOMY">Economy</option>
                                        <option value="EXPRESS_AM">Express AM</option>
                                        <option value="EXPRESS_PM">Express PM</option>
                                        <option value="DEDICATED_EXPRESS">Dedicated Express</option>
                                        <option value="DEDICATED_ECONOMY">Dedicated Economy</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="field_vehicleSize">Vehicle Size</label>
                                    <select class="form-control" name="vehicleSize" ng-model="purchaseOrder.vehicleSize"
                                            id="field_vehicleSize">
                                        <option value="LPV">LPV</option>
                                        <option value="ONE_TON">1 Ton</option>
                                        <option value="FOUR_TON">4 Ton</option>
                                        <option value="EIGHT_TON">8 Ton</option>
                                        <option value="TWELVE_TON">12 Ton</option>
                                        <option value="TRI_AXLE">Tri Axle</option>
                                        <option value="SUPER_LINK">Super Link</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="field_labourRequired">Labour Required</label>
                                    <input type="text" class="form-control" name="labourRequired"
                                           id="field_labourRequired"
                                           ng-model="purchaseOrder.labourRequired"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="field_transportParty">Transport Party</label>
                                    <select class="form-control" name="transportParty" ng-model="purchaseOrder.transportParty"
                                            id="field_transportParty">
                                        <option value="CUSTOMER">Customer</option>
                                        <option value="XEON">Xeon</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="step == 2" class="p-m">
                    <div class="modal-body">
                        <div class="row">

                        </div>
                    </div>
                </div>
                <div ng-show="step == 3" class="p-m">
                    <div class="modal-body">
                        <div class="row">

                        </div>
                    </div>
                </div>
                <div ng-show="step == 4" class="p-m">
                    <div class="modal-body">
                        <div class="row">

                        </div>
                    </div>
                </div>
                <div ng-show="step == 5">
                    <div class="row text-center m-t-lg m-b-lg">
                        <div class="col-lg-12">
                            <i class="pe-7s-check fa-5x text-muted"></i>
                            <p class="small m-t-md">
                                <strong>There are many</strong> variations of passages of Lorem Ipsum available, but the majority have suffered
                            </p>
                        </div>
                        <div class="checkbox col-lg-12">
                            <input icheck type="checkbox" ng-model="user.approve">
                            Approve this form
                        </div>

                    </div>

                </div>
                <div ng-show="step == 6" class="p-m">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-4">

                                <div class="form-group">
                                    <label class="control-label" for="field_customerType">CustomerType</label>
                                    <select class="form-control" name="customerType" ng-model="purchaseOrder.customerType"
                                            id="field_customerType">
                                        <option value="REGULAR">REGULAR</option>
                                        <option value="ONE_TIME">ONE_TIME</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="field_telephone">Telephone</label>
                                    <input type="text" class="form-control" name="telephone" id="field_telephone"
                                           ng-model="purchaseOrder.telephone"
                                           required/>
                                    <div ng-show="editForm.telephone.$invalid">
                                        <p class="help-block small-help-block pull-right"
                                           ng-show="editForm.telephone.$error.required">
                                            required
                                        </p>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-4">

                                <div class="form-group">
                                    <label class="control-label" for="field_shipToType">ShipToType</label>
                                    <select class="form-control" name="shipToType" ng-model="purchaseOrder.shipToType"
                                            id="field_shipToType">
                                        <option value="RETAIL">RETAIL</option>
                                        <option value="STANDARD">STANDARD</option>
                                        <option value="HOME_DROP_BOX">HOME_DROP_BOX</option>
                                        <option value="HOME_CONNECTION">HOME_CONNECTION</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="field_modeOfTransport">ModeOfTransport</label>
                                    <select class="form-control" name="modeOfTransport"
                                            ng-model="purchaseOrder.modeOfTransport" id="field_modeOfTransport">
                                        <option value="AIR_DELIVERIES">AIR_DELIVERIES</option>
                                        <option value="AIR_TRANSFERS">AIR_TRANSFERS</option>
                                        <option value="ROAD">ROAD</option>
                                        <option value="SEA">SEA</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="field_carrierVesselName">CarrierVesselName</label>
                                    <input type="text" class="form-control" name="carrierVesselName"
                                           id="field_carrierVesselName"
                                           ng-model="purchaseOrder.carrierVesselName"
                                           required/>
                                    <div ng-show="editForm.carrierVesselName.$invalid">
                                        <p class="help-block small-help-block pull-right"
                                           ng-show="editForm.carrierVesselName.$error.required">
                                            required
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="field_carrierVesselNumber">CarrierVesselNumber</label>
                                    <input type="text" class="form-control" name="carrierVesselNumber"
                                           id="field_carrierVesselNumber"
                                           ng-model="purchaseOrder.carrierVesselNumber"
                                           required/>
                                    <div ng-show="editForm.carrierVesselNumber.$invalid">
                                        <p class="help-block small-help-block pull-right"
                                           ng-show="editForm.carrierVesselNumber.$error.required">
                                            required
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="field_pickUpType">PickUpType</label>
                                    <select class="form-control" name="pickUpType" ng-model="purchaseOrder.pickUpType"
                                            id="field_pickUpType">
                                        <option value="RETAIL">RETAIL</option>
                                        <option value="STANDARD">STANDARD</option>
                                        <option value="HOME_DROP_BOX">HOME_DROP_BOX</option>
                                        <option value="HOME_CONNECTION">HOME_CONNECTION</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="control-label" for="field_deliveryDate">Delivery Date</label>
                                    <div class="input-group">
                                        <input id="field_deliveryDate" type="text" class="form-control"
                                               uib-datepicker-popup="{{dateformat}}" ng-model="purchaseOrder.deliveryDate" datepicker-options="dateOptions"
                                               is-open="datePickerForDeliveryDate.status.opened" required/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                                ng-click="datePickerForDeliveryDateOpen($event)"><i
                                            class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                    </div>
                                    <div ng-show="editForm.deliveryDate.$invalid">
                                        <p class="help-block small-help-block pull-right"
                                           ng-show="editForm.deliveryDate.$error.required">
                                            required
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="field_shipToParty">shipToParty</label>
                                    <select class="form-control" id="field_shipToParty" name="shipToParty"
                                            ng-model="purchaseOrder.shipToParty.id"
                                            ng-options="party.id as party.name for party in shiptopartys | orderBy:'id'">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="field_pickUpParty">pickUpParty</label>
                                    <select class="form-control" id="field_pickUpParty" name="pickUpParty"
                                            ng-model="purchaseOrder.pickUpParty.id"
                                            ng-options="party.id as party.name for party in pickuppartys | orderBy:'id'">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="field_employee">Captured By

                                    </label>
                                    <select class="form-control" id="field_employee" name="employee" ng-disabled="true"
                                            ng-model="purchaseOrder.user.id"
                                            ng-options="employee.id as employee.email for employee in employees">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!--<div class="form-group">-->
                        <!--<label class="control-label" for="field_captureDate">Capture Date</label>-->
                        <!--<input type="datetime-local" class="form-control" name="captureDate" id="field_captureDate"-->
                        <!--ng-model="purchaseOrder.captureDate"-->
                        <!--/>-->
                        <!--</div>-->
                    </div>
                </div>

                <div class="text-right m-t-xs">
                    <button ng-click="wizard.prev()" ng-disabled="step == 1" class="btn btn-default">
                        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span>Previous</span>
                    </button>
                    <button ng-click="wizard.next()" ng-disabled="editForm.$invalid || isSaving" ng-hide="step == 3" class="btn btn-primary">
                        <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;<span>Next</span>
                    </button>
                    <button ng-click="submit()" ng-show="step == 3" class="btn btn-primary" ng-disabled="editForm.$invalid || isSaving">
                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

