// Import Google font
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// Color list
$color-navy-blue:#34495e;
$color-violet:#9b59b6;
$color-blue:#3498db;
$color-green: #29b224;
$color-yellow:#ffb606;
$color-orange:#e67e22;
$color-red:#e74c3c;
$color-red-deep:#c0392b;

// Additional colors
$color-text: #6a6c6f;
$color-bright: #f7f9fa;
$color-background: #f1f3f6;
$color-background-boxed: lighten($color-background, 3%);
$border-color: #e4e5e7;

// Additional variables
$menu-width: 180px;
$main-transition: all 0.1s ease-out 0s;

// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "fontawesome/scss/font-awesome.scss";
@import "awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.scss";
// endbower

@import "jhipster";

// Import all styles
@import "theme/margins";
@import "theme/alerts";
@import "theme/modal";
@import "theme/progress_bar";
@import "theme/login";
@import "theme/timeline";
@import "theme/contact";
@import "theme/calendar";
@import "theme/text_editor";
@import "theme/grid";
@import "theme/dropdown";
@import "theme/chat";
@import "theme/various";
@import "theme/buttons";
@import "theme/fonts";
@import "theme/icheck";
@import "theme/layout";
@import "theme/lists";
@import "theme/panels";
@import "theme/tabs";
@import "theme/tooltip";
@import "theme/projects";
@import "theme/social_board";
@import "theme/nestable_list";
@import "theme/tour";
@import "theme/blog";
@import "theme/forum";
@import "theme/mailbox";
@import "theme/loader";

// Styles for landing page
@import "theme/landing";

@import "loginpage";
@import "timeline";
@import "animation";
@import "blockquotes";

.small-help-block{
    color: darken($color-red, 10%);
    font-size: 0.8em;
    font-weight: 600;
    margin-top: 2px;
}

.progressbar-company{
    .progress-bar-success {
        background-color: transparent;
        border-right: 4px solid transparent;
    }
}

.tc-green-dark{
    color: darken($color-green, 10%);
}

.tc-red-dark{
    color: $color-red-deep;
}

pre {
    white-space: normal;
    word-break: break-word;
    word-wrap: normal;
}

.ui-select-toggle{
    color: #555555;
    background-color: rgba(52, 152, 219, 0.05);;
}
.ui-select-choices-content{
    padding-top:0px;

    .ui-select-choices-group-label{
        color: black;
        font-size: 14px;
        font-weight: 700;
        background-color: rgba(66, 139, 202, 0.25);
        border-top: 1px solid rgba(52, 73, 94, 0.47);
        border-bottom: 1px solid rgba(52, 73, 94, 0.37);

        .ui-select-choices-row {
            padding: 2px 12px 2px;
            margin: 0;
            cursor: pointer;
            min-height: 1em;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
}

.nav-tabs > li {
    margin-bottom: -4px;
    uib-tab-heading{
        font-weight: 700;
    }
}

.tab-content{
    border: solid #e4e5e7;
    border-width: 0px 1px 1px 1px;
    padding-top: 6px;
    padding-bottom: 6px;

    .tab-pane{
        .panel-body {
            border: none;
        }
    }
}

.badge{
    border-radius: 4px;
}

.drop-box {
    background: lighten($color-blue, 50%);
    border: 5px dashed lighten($color-blue, 30%);;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 25px;
    margin: 10px 0px;
}

.dragover {
    border: 5px dashed $color-blue;
}

.table-centered{
    tbody{
        tr{
            td{
                padding: 5px 10px 5px 10px !important;
                vertical-align: middle !important;
            }
        }
    }
}

.m{
    margin: 0px;
    .progress{
        margin: 0px;
        height: 10px;
        .progress-bar{
            height: 10px;
            &.progress-bar-success{
                background-color: lighten($color-blue, 20%);
                border-right: 4px solid $color-blue;
            }
        }
    }
}

.glyphicon-spin {
    -webkit-animation: spinLoader 1000ms infinite linear;
    animation: spinLoader 1000ms infinite linear;
}
@-webkit-keyframes spinLoader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spinLoader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
