// Import Google font
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// Color list
$color-navy-blue:#34495e;
$color-violet:#9b59b6;
$color-blue:#3498db;
$color-green: #29b224;
$color-yellow:#ffb606;
$color-orange:#e67e22;
$color-red:#e74c3c;
$color-red-deep:#c0392b;

// Additional colors
$color-text: #6a6c6f;
$color-bright: #f7f9fa;
$color-background: #f1f3f6;
$color-background-boxed: lighten($color-background, 3%);
$border-color: #e4e5e7;

// Additional variables
$menu-width: 180px;
$main-transition: all 0.1s ease-out 0s;

// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "fontawesome/scss/font-awesome.scss";
@import "awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.scss";
// endbower

@import "jhipster";

// Import all styles
@import "theme/margins";
@import "theme/alerts";
@import "theme/modal";
@import "theme/progress_bar";
@import "theme/login";
@import "theme/timeline";
@import "theme/contact";
@import "theme/calendar";
@import "theme/text_editor";
@import "theme/grid";
@import "theme/dropdown";
@import "theme/chat";
@import "theme/various";
@import "theme/buttons";
@import "theme/fonts";
@import "theme/icheck";
@import "theme/layout";
@import "theme/lists";
@import "theme/panels";
@import "theme/tabs";
@import "theme/tooltip";
@import "theme/projects";
@import "theme/social_board";
@import "theme/nestable_list";
@import "theme/tour";
@import "theme/blog";
@import "theme/forum";
@import "theme/mailbox";
@import "theme/loader";

// Styles for landing page
@import "theme/landing";

@import "loginpage";
@import "timeline";
@import "animation";
@import "blockquotes";

.small-help-block{
    color: darken($color-red, 10%);
    font-size: 0.8em;
    font-weight: 600;
    margin-top: 2px;
}

.progressbar-company{
    .progress-bar-success {
        background-color: transparent;
        border-right: 4px solid transparent;
    }
}

.tc-green-dark{
    color: darken($color-green, 10%);
}

.tc-red-dark{
    color: $color-red-deep;
}
