
<form name="editForm" role="form" ng-submit="save()" show-validation>

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true" ng-click="clear()">&times;</button>
		<h4 class="modal-title" id="myBillingLabel">Rate calculator - DSV</h4>
	</div>
	<div class="modal-body">
		<jh-alert-error></jh-alert-error>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label class="control-label" for="field_source">Source
						Location</label> <select class="form-control" name="source"
						ng-model="billing.source" id="field_soruce" required >
						
						<option value="BFN">BLOEMFONTEIN</option>
						<option value="CPT">CAPETOWN</option>
						<option value="DUR">DURBAN</option>
						<option value="ELS">ELASTLONDON</option>
						<option value="GRG">GEORGE</option>
						<option value="JNB">JOHANNESBURG</option>
						<option value="KIM">KIMBERLEY</option>
						<option value="KLD">KLERKSDORP</option>
						<option value="NLP">NELSPRUIT</option>
						<option value="PLZ">PORTELIZABETH</option>
						<option value="PTG">PIETERSBURG</option>
					</select>
					<!-- <input type="text" class="form-control" name="name" id="field_name" ng-model="billing.name" required tabindex="1"/> -->
				</div>

				<div class="form-group">
					<label class="control-label" for="field_szone">Source Zone</label>
					<select class="form-control" name="szone" required
						ng-model="billing.sourceZone" id="field_szone">
						<option value="ZONE1">CENTRAL</option>
						<option value="ZONE2">DISTRICT</option>
						<option value="ZONE3">OUTLYING</option>
						<option value="ZONE4">FAROUTLYING</option>
						<option value="ZONE5">FAROUTLYING</option>
					</select>
				</div>

				<div class="form-group">
					<label class="control-label" for="field_stype">Service Type</label>
					<select class="form-control" name="stype" required
						ng-model="billing.serviceType" id="field_stype">
						<option value="BB">Break Bulk</option>
					</select>
				</div>

				<div class="form-group">


					<label class="control-label" for="field_name">Weight</label>
					<div class="input-group">
						<input type="number" class="form-control" name="name"
							id="field_name" ng-model="billing.weight" ng-pattern="/^[0-9]+(\.[0-9]{1,3})?$/" step="0.001" required tabindex="1" />
						<span class="input-group-addon">KG</span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="control-label" for="field_destination">Destination
						Location</label> <select class="form-control" name="destination"
						ng-model="billing.destination" id="field_destination"  >
						<option value="BFN">BLOEMFONTEIN</option>
						<option value="CPT">CAPETOWN</option>
						<option value="DUR">DURBAN</option>
						<option value="ELS">ELASTLONDON</option>
						<option value="GRG">GEORGE</option>
						<option value="JNB">JOHANNESBURG</option>
						<option value="KIM">KIMBERLEY</option>
						<option value="KLD">KLERKSDORP</option>
						<option value="NLP">NELSPRUIT</option>
						<option value="PLZ">PORTELIZABETH</option>
						<option value="PTG">PIETERSBURG</option>
						  
					</select>
					<!-- <input type="text" class="form-control" name="name" id="field_name" ng-model="billing.name" required tabindex="1"/> -->
				</div>

				<div class="form-group">
					<label class="control-label" for="field_dzone">Destination
						Zone</label>
					<!-- <input type="text" class="form-control" name="streetName" id="field_streetName" ng-model="billing.streetName"  tabindex="4"/> -->
					<select class="form-control" name="dzone" required
						ng-model="billing.destinationZone" id="field_dzone">
						<option value="ZONE1">CENTRAL</option>
						<option value="ZONE2">DISTRICT</option>
						<option value="ZONE3">OUTLYING</option>
						<option value="ZONE4">FAROUTLYING</option>
						<option value="ZONE5">FAROUTLYING</option>
					</select>

				</div>

				<div class="form-group">
					<label class="control-label" for="field_slevel">Service
						Level</label> <select class="form-control" name="slevel" required
						ng-model="billing.serviceLevel" id="field_slevel">
						<option value="EC">Economy</option>
						<option value="EX">Express</option>
					</select>
				</div>

				<div class="form-group">
					<label class="control-label" for="field_volume">Volume</label>
					<div class="input-group">
						<input type="number" class="form-control" name="volume"  ng-pattern="/^[0-9]+(\.[0-9]{1,3})?$/" step="0.001" required 
							id="field_volume" ng-model="billing.volume" required tabindex="1" />
						<span class="input-group-addon">M&sup3;</span>
					</div>
				</div>



			</div>

		</div>

		<div class="form-group" ng-show="billing.calculatedBill">
			<label class="control-label">Approximate invoice amount is :
			</label> R {{ billing.calculatedBill | number : 2}}
			<p>Note: Invoice value is based on information provided above.
				Please ensure input data is as per shipment to attain and accurate
				estimate. Please note additional sur charges may apply</p>
		</div>


	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal"
			ng-click="clear()">
			<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
		</button>
		<button type="submit" ng-disabled="editForm.$invalid"
			class="btn btn-primary">
			<span class="glyphicon glyphicon-save"></span>&nbsp;<span>Calculate</span>
		</button>
	</div>
</form>
